In [1]:
import pandas as pd
import numpy as np
import os
from datetime import date

In [2]:
df = pd.read_pickle('D:/jaume/Jupyter Notebooks/Vacantes Scraper/ScrapedData/20220505_020738_vacants.pkl')
info = pd.read_pickle('D:/jaume/Jupyter Notebooks/Vacantes Scraper/ScrapedData/20220505_020738_exportInfo.pkl')

In [8]:
info.head()

  files     vac_types post_types
0     1  LD-PA common        NaN
1     2     CM common       None
2  None   VAC reserve       None
3  None   2-16 common       None
4  None        single       None

In [15]:
df.values

array([['02500', 'CUARTEL GENERAL DEL MANDO DE TROPAS DE MONTAÑA',
        '50083231', ..., '244,604,656,959',
        Timestamp('2021-03-24 00:00:00'), nan],
       ['02501', 'BCG DE LA BRIGADA «ALMOGÁVARES» VI, DE PARACAIDISTAS',
        '50027882', ..., '244,959', Timestamp('2021-03-24 00:00:00'),
        nan],
       ['02502', 'BATALLON DE ZAPADORES VI', '50056870', ...,
        '244,609,959', Timestamp('2021-03-24 00:00:00'), nan],
       ...,
       ['05552', 'CENTRO GEOGRAFICO DEL EJÉRCITO DE TIERRA', '53000008',
        ..., '960', Timestamp('2022-04-01 00:00:00'), nan],
       ['05553', 'DIRECCION DE INFRAESTRUCTURA', '54630000', ...,
        '511,656,960', Timestamp('2022-04-01 00:00:00'), nan],
       ['05554', 'ACADEMIA GENERAL MILITAR', '55105700', ..., '960',
        Timestamp('2022-04-01 00:00:00'), nan]], dtype=object)

In [5]:
df[df['empleo'] == 'CTE']

,n_vac,uco,ciu,pt,asig,ta,empleo,efun,cursos,t_max,t_min,fecha_cob,csce,obs,fecha_pub,cod_cm
67,01704,ESTADO MAYOR DEL EJÉRCITO,51000001,5JA39/006,LD,C,CTE,"[TRA., nan]","XF:I, FM:I, EM:I","[10, 4, nan]",2.0,NaN,"489,98","51,656,763,960",2021-03-24,NaN
68,01705,ESTADO MAYOR DEL EJÉRCITO,51000001,5JA39/053,LD,C,CTE,"[TRA., nan]","XF:I, FM:I, EM:I","[10, 4, nan]",2.0,NaN,"489,98","51,656,763,960",2021-03-24,NaN
69,01706,ESTADO MAYOR DEL EJÉRCITO,51000001,5JA39/024,LD,C,CTE,"[TRA., nan]","XF:I, FM:I, EM:I","[10, 4, nan]",2.0,NaN,"489,98","51,656,763,960",2021-03-24,NaN
70,01707,ESTADO MAYOR DEL EJÉRCITO,51000001,5JA39/031,LD,C,CTE,"[TRA., nan]","XF:I, FM:I, EM:I","[10, 4, nan]",2.0,NaN,"489,98","51,656,763,960",2021-03-24,NaN
71,01708,ESTADO MAYOR DEL EJÉRCITO,51000001,5JA39/016,LD,C,CTE,"[TRA., nan]","XF:I, FM:I, EM:I","[10, 4, nan]",2.0,NaN,"489,98","51,656,763,960",2021-03-24,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2040,02819,JEFATURA DE LA CUARTA SUBINSPECCION GENERAL DE...,54430001,5JA39/007,LD,C,CTE,NaN,NaN,10,"[2, nan]","[28-04-2022, 06-09-2022, nan]","310,43","Z85,656,960",2022-03-30,NaN
2082,03875,DIRECCION DE PERSONAL,56200003,5JA39/010,CM,C,CTE,NaN,"[PC:W/PW:W, SL:I, RS:I, GL:I, SL:I, RS:I, LP:I...",10.0,"[3, nan]","[01-08-2022, nan]","499,78","656,960",2022-03-31,CM21
2401,05551,REGIMIENTO DE OPERACIONES DE INFORMACION N.o 1,50069718,5WM79/001,PA,C,CTE,"[MECMT, TECAP, nan]",NaN,NaN,NaN,NaN,"459,48","511,656,960",2022-04-01,NaN
2403,05553,DIRECCION DE INFRAESTRUCTURA,54630000,5WM85/001,PA,C,CTE,"[MECMT, TECAP, nan]",NaN,NaN,NaN,NaN,"382,37","511,656,960",2022-04-01,NaN
2404,05554,ACADEMIA GENERAL MILITAR,55105700,5WM85/001,PA,C,CTE,"[MECMT, TECAP, nan]",NaN,NaN,NaN,NaN,"345,64",960,2022-04-01,NaN